<div class="card">
  <div class="card-content">
    <div class="media">
      <figure class="media-left">
        <a href="{{ author.url | relative_url }}" class="avatar-link">
          <p class="image is-64x64">
            {% if author.avatar %}
              <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}">
            {% else %}
              <i class="fas fa-user fa-4x"></i>
            {% endif %}
          </p>
        </a>
      </figure>
      <div class="media-content">
        <a href="{{ author.url | relative_url }}" class="is-block">
          <p class="title is-5">{{ author.name }}</p>
        </a>

        <p class="subtitle is-5">{{ author.position }}</p>
        <div class="content">
          <p>{{ author.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
