<div class="buttons">
    {% if page.facebook %}
    <a href="{{ page.facebook }}" class="button is-dark" target="_blank">
        <i class="fab fa-facebook-f"></i>
    </a>
    {% endif %}

    {% if page.twitter %}
    <a href="{{ page.twitter }}" class="button is-dark" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    {% endif %}

    {% if page.github %}
    <a href="{{ page.github }}" class="button is-dark" target="_blank">
        <i class="fab fa-github"></i>
    </a>
    {% endif %}

    {% if page.gitlab %}
    <a href="{{ page.gitlab }}" class="button is-dark" target="_blank">
        <i class="fab fa-gitlab"></i>
    </a>
    {% endif %}

    {% if page.instagram %}
    <a href="{{ page.instagram }}" class="button is-dark" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    {% endif %}

    {% if page.linkedin %}
    <a href="{{ page.linkedin }}" class="button is-dark" target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
    {% endif %}

    {% if page.medium %}
    <a href="{{ page.medium }}" class="button is-dark" target="_blank">
        <i class="fab fa-medium-m"></i>
    </a>
    {% endif %}

    {% if page.stack_overflow %}
    <a href="{{ page.stack_overflow }}" class="button is-dark" target="_blank">
        <i class="fab fa-stack-overflow"></i>
    </a>
    {% endif %}

</div>