<!doctype html>
<html>
{% include head.html %}
<body>
{% include navbar.html %}
{% unless page.hide_hero %}
    {% include hero.html %}
{% endunless %}
<section class="section">
    <div class="container">
        {{ content }}
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="has-text-centered">
            <p>Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</section>
<script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
</body>
</html>

